@import "tailwindcss";

:root {
  font-family: Arial, Helvetica, sans-serif;
  color: #0e0302;
  background: #bcb7b1;
}

html {
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
}

button,
a {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}